<div class="toolbar flex-container" role="banner">
  <a class="flex-item logo" href="/">
    <img
      width="40"
      alt="Lucy Ashour icon"
      src="favicon.ico"
    />
  </a>
  <span class="flex-item">Lucy Ashour Home Page</span>
  <div class="flex-spacer"></div>
  <a href="https://www.linkedin.com" class="flex-item social-link">
    <fa-icon class="toolbar-social" size="2x" [icon]="faLinkedin"></fa-icon>
  </a>
</div>

<div class="content" role="main">
  <h1>Welcome</h1>
  <h2>Lucy Ashour: Site Builder, Bug Squasher, and Language Learner</h2>
  <article>Welcome to my humble web abode. I am a professional web developer with a love of languages both human and machine.

    I am an omnivorous learner and have dabbled in game making (in GameMaker, Python, and Ruby), machine learning (primarily in Python) and some basic C++ coding and code-reading
  </article>
  <article>
    <h2> List of Skills</h2>
    <ul>
      <li>Javascript/Typescript fluent with professional experience in Angular 2 and academic experience in ReactJS</li>
      <li>PHP fluent with professional experience in the Laminas API toolkit (formerly Zend Framework) and Doctrine ORM</li>
      <li>Well-versed in SQL querying and database usage</li>
      <li>Trained Agile contributor</li>

    </ul>
  </article>
</div>

<router-outlet></router-outlet>
